html {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

body {
  background-color: #383838;
  margin: 0;
  text-align: center;
}

.colours,
.tints {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tints {
  margin: 1em 0;
}

.colour,
.tint {
  padding: 1em 0;
  border-radius: 0;
  border: 3px solid transparent;
  margin: 1%;
  transition: all 0.2s;
}

.tint {
  padding: 2em;
}

.colour:hover,
.tint:hover {
  border-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
