html {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

body {
  background-color: #383838;
  margin: 0;
  text-align: center;
}

.colours,
.tints {
  display: flex;
  flex-wrap: wrap;
}

.colour,
.tint {
  border-radius: 1em;
  flex: 1 1 auto;
  margin: 1%;
  padding: 2em;
}
