html {
  font-family: Arial, sans-serif;;
  font-size: 1em;
}

body {
  margin: 0;
}

.colours,
.tints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.colour,
.tint {
  padding: 1em;
}

.colour {
  flex: 1 1 100%;
}

.tint {
  flex: 1 1 0%;
}
